.cabecalho-populares {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destination-itens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 88px;
}

.img-item {
  width: 100%;
  height: 360px;
  background-size: cover;
}

.item {
  width: 312px;
}

.titulo-populares {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  margin: 24px 0;
  text-align: left;
}

.paragrafo-populares {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
  text-align: left;
}

.Destinos {
  width: 312px;
  margin-top: 24px;
}

.Tokyo {
  background-image: url("../img/Tokyo-mobile.jpg");
  background-size: cover;
}

.Osaka {
  background-image: url("../img/Osaka-mobile.jpg");
  background-size: cover;
}

/* tablet */
@media screen and (min-width: 768px) {
  .destination {
    padding: 4rem 4.5rem;
  }

  .quebra {
    display: none;
  }

  .destination-itens {
    gap: 32px;
    margin-top: 32px;
  }

  .item {
    width: 648px;
  }

  .img-item {
    width: 100%;
    height: 452px;
    background-size: cover;
  }

  .Tokyo {
    background-image: url("../img/Tokyo.jpg");
    background-size: cover;
  }

  .Osaka {
    background-image: url("../img/Osaka.jpg");
    background-size: cover;
  }
}

/* ipad pro */
@media screen and (min-width: 1024px) {
  .item {
    width: 648px;
  }
}

/* desktop */
@media screen and (min-width: 1324px) {
  .destination {
    padding: 4rem 4.5rem;
  }

  .destination-itens {
    gap: 32px;
    margin-top: 32px;
  }

  .item {
    width: 490px;
  }

  .img-item {
    width: 100%;
    height: 452px;
    background-size: cover;
  }
}

/* desktop xl */
@media screen and (min-width: 1320px) {
  .item {
    width: 612px;
  }
}
