@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --font-primary: "Montserrat", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 580;
}

body {
  background-color: var(--background-primary-color);
  font-family: var(--font-primary);
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  text-align: center;
  margin-bottom: 0;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}
