@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --font-primary: "Montserrat", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 580;
}

body {
  background-color: var(--background-primary-color);
  font-family: var(--font-primary);
  color: var(--text-primary-color);
}

.header-padrao {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.centro-padrao {
  width: 312px;
  margin: 0 auto 88px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 24px;
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  text-align: center;
  margin-bottom: 0;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

/* tablet */
@media screen and (min-width: 768px) {
  .centro-padrao {
    width: 648px;
  }
}

/* laptop */
@media screen and (min-width: 1024px) {
  .centro-padrao {
    width: 936px;
  }
}

/* desktop */
@media screen and (min-width: 1324px) {
  .centro-padrao {
    width: 1280px;
  }
}
