.hero-home {
  margin-bottom: 88px;
}

.hero-img {
  max-width: 100%;
  width: 100%;
  height: 400px;
  background-image: url("../img/Banner homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img2 {
  background-image: url("../img/hero-rodape-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  height: 400px;
}

.hero-img-japao {
  background-image: url("../img/hero-rodape-japao.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  height: 400px;
}

.hero-img-pacotes {
  background-image: url("../img/hero-japao-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  height: 400px;
}

.container-hero {
  justify-content: left;
  align-items: center;
}

.hero-texto-pacotes {
  padding: 1rem 2rem;
  width: 312px;
}

.section-title-hero {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
  text-align: left;
  margin-bottom: 20px;
}

.barra-container-hero {
  align-items: left;
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 20px 0;
}

.text-hero-japao {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: var(--text-secondary-color);
  text-align: left;
}

.hero-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 2rem;
    padding: 6rem 4.5rem;
    line-height: 150%;
  }

  .hero-img {
    height: 620px;
  }

  .hero-img2 {
    background-image: url("../img/hero-rodape-tablet.jpg");
    height: 620px;
  }

  .hero-img-japao {
    background-image: url("../img/hero-radape-japao-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 400px;
  }

  .hero-texto-pacotes {
    padding: 2rem 2rem;
    width: 512px;
  }
}

/* desktop */
@media screen and (min-width: 1324px) {
  .hero-title {
    font-size: 2.5rem;
    padding: 8rem 6rem;
  }

  .hero-img {
    height: 720px;
  }

  .hero-img2 {
    height: 720px;
  }

  .hero-texto-pacotes {
    padding: 2rem 2rem;
    width: 579px;
  }
}
