.hero-img {
  max-width: 100%;
  width: 100%;
  height: 400px;
  background-image: url("../img/Banner homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 2rem;
    padding: 6rem 4.5rem;
    line-height: 150%;
  }

  .hero-img {
    height: 620px;
  }
}

/* desktop */
@media screen and (min-width: 1324px) {
  .hero-title {
    font-size: 2.5rem;
    padding: 8rem 6rem;
  }

  .hero-img {
    height: 720px;
  }
}
