.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  background-color: var(--background-terciary-color);
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--text-weight);
  margin-top: 24px;
}

.button {
  margin: 0 auto;
  width: 280px;
  height: 64px;
  padding: 16px;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--primary-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .offers {
    padding: 4rem 4.5rem;
  }

  .section-title h2 {
    font-size: 2rem;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .section-title h2 {
    font-size: 2.5rem;
  }

  .button {
    cursor: pointer;
  }
}
