.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  background-color: var(--background-terciary-color);
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--text-weight);
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .offers {
    padding: 4rem 4.5rem;
  }

  .section-title h2 {
    font-size: 2rem;
  }
}
