:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-terciary-color: #000000;
    --butoon-primary-color: #8F0101;
    --button-secondary-color: #B81515;
    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF; 
}