@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-terciary-color: #000000;
    --primary-color: #8F0101;
    --secondary-color: #B81515;
    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF; 
    --font-primary: "Montserrat", sans-serif;
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 580;
}

body {
    background-color: var(--background-primary-color);
}