@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --font-primary: "Montserrat", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 580;
}

body {
  background-color: var(--background-primary-color);
}

header {
  background-color: var(--background-terciary-color);
  color: var(--text-secondary-color);
}
