@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categorias.css);
@import url(destinantions.css);
@import url(paynents.css);
@import url(testimonials.css);
@import url(footer.css);
