.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.text-depoimento {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
  color: var(--text-primary-color);
  text-align: left;
  max-width: 600px;
}

.depoimento-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.img-depoimento {
  width: 86px;
  height: 86px;
}

.nome-depoimento {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  margin-bottom: 8px;
}

.star {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: 32px;
}

/* desktop */
@media screen and (min-width: 1324px) {
  .testimonial-container {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
